.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

  
}

/* Banner */

.banner-inner {  
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  padding: 200px 100px 200px 100px;
  color: white;
  
  background-color: #1b1b1b;
  height: "150px";
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://i.dawn.com/large/2015/12/567d1f58c1efe.jpg');
}

.banner-text {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
